## Preprocessing

In [69]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [70]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [71]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [72]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [73]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace=list(name_counts[name_counts < 200].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 28123
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
Name: NAME, dtype: int64

In [74]:
# Look at CLASSIFICATION value counts for binning
class_counts=application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [75]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_over_1=class_counts[class_counts > 1]
class_counts_over_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [76]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [77]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric=pd.get_dummies(application_df)

In [78]:
# Split our preprocessed data into our features and target arrays
X = numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [79]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [80]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 6
hidden_nodes_layer3 = 6
hidden_nodes_layer4 = 7

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="sigmoid"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer3,
             input_dim=number_input_features, activation="tanh"))

# Fourth hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 10)                670

 dense_16 (Dense)            (None, 6)                 66

 dense_17 (Dense)            (None, 6)                 42

 dense_18 (Dense)            (None, 7)                 49

 dense_19 (Dense)            (None, 1)                 8

=================================================================
Total params: 835 (3.26 KB)
Trainable params: 835 (3.26 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [81]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [82]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5923 - accuracy: 0.6943
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7328
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5277 - accuracy: 0.7360
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5248 - accuracy: 0.7380
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5218 - accuracy: 0.7402
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5195 - accuracy: 0.7431
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5167 - accuracy: 0.7447
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5145 - accuracy: 0.7463
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5126 - accuracy: 0.7474
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5112 - accuracy: 0.7482
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5099 - accuracy: 0.7505
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5086 - accuracy: 0.7509
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5075 - accuracy: 0.7528
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5075 - accuracy: 0.7530
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5065 - accuracy: 0.7519
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5058 - accuracy: 0.7519
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5055 - accuracy: 0.7530
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5050 - accuracy: 0.7520
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5046 - accuracy: 0.7526
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5041 - accuracy: 0.7533
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5040 - accuracy: 0.7534
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5033 - accuracy: 0.7533
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5034 - accuracy: 0.7531
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5030 - accuracy: 0.7531
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5027 - accuracy: 0.7541
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5024 - accuracy: 0.7535
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5026 - accuracy: 0.7536
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5018 - accuracy: 0.7529
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5019 - accuracy: 0.7540
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5020 - accuracy: 0.7533
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5018 - accuracy: 0.7537
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5013 - accuracy: 0.7523
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5009 - accuracy: 0.7545
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5008 - accuracy: 0.7539
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5011 - accuracy: 0.7542
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5003 - accuracy: 0.7549
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5004 - accuracy: 0.7536
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5003 - accuracy: 0.7549
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5000 - accuracy: 0.7551
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5001 - accuracy: 0.7550
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5000 - accuracy: 0.7555
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4998 - accuracy: 0.7540
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5001 - accuracy: 0.7540
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4996 - accuracy: 0.7540
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4997 - accuracy: 0.7540
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4993 - accuracy: 0.7563
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4994 - accuracy: 0.7551
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4991 - accuracy: 0.7548
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4992 - accuracy: 0.7545
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4991 - accuracy: 0.7554

In [83]:
# Evaluate the model using the test data
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5059 - accuracy: 0.7509 - 544ms/epoch - 2ms/step
Loss: 0.505896270275116, Accuracy: 0.7509037852287292

In [84]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")

/Users/kaitnguyen/Library/Python/3.9/lib/python/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(